<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Contato</title>
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="checkout.html" id="checkout-link">Carrinho</a></li
