<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Loja Virtual</title>
</head>
<body>
    <header>
        <h1>Deposito Renascer</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="checkout.html" id="checkout-link">Carrinho (0)</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Produtos em Destaque</h2>
        <div class="product-container">
            <div class="product">
                <img src="imagens/produto1.jpg" alt="Produto 1">
                <h3>Cimento Cauê 50Kg</h3>
                <p>O Cimento Cauê 50Kg é um produto de alta qualidade, ideal para a construção civil, que oferece resistência e durabilidade. </p>
                <p>R$ 99,90</p>
                <button onclick="adicionarAoCarrinho('Produto 1', 99.90)">Adicionar ao Carrinho</button>
            </div>
            <div class="product">
                <img src="imagens/produto2.jpg" alt="Produto 2">
                <h3>Argamassa Santa Luzia 20Kg</h3>
                <p>A Argamassa Santa Luzia 20Kg é perfeita para assentamento de cerâmicas e porcelanatos, oferecendo alta aderência e durabilidade. </p>
                <p>R$ 149,90</p>
                <button onclick="adicionarAoCarrinho('Produto 2', 149.90)">Adicionar ao Carrinho</button>
            </div>
            <div class="product">
                <img src="imagens/produto4.jpg" alt="Produto 2">
                <h3>AB Areias 1Kg</h3>
                <p>A AB Areias 1Kg é uma areia fina de alta qualidade, ideal para revestimentos, argamassas e pequenas obras. </p>
                <p>R$ 19,90</p>
                <button onclick="adicionarAoCarrinho('Produto 2', 149.90)">Adicionar ao Carrinho</button>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Minha Loja Virtual</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
